//! **************************************************************************
// Written by: Map P.20131013 on Sat Apr 22 16:16:11 2017
//! **************************************************************************

SCHEMATIC START;
COMP "C" LOCATE = SITE "H17" LEVEL 1;
COMP "N" LOCATE = SITE "K15" LEVEL 1;
COMP "Z" LOCATE = SITE "J13" LEVEL 1;
COMP "a" LOCATE = SITE "T10" LEVEL 1;
COMP "b" LOCATE = SITE "R10" LEVEL 1;
COMP "c" LOCATE = SITE "K16" LEVEL 1;
COMP "d" LOCATE = SITE "K13" LEVEL 1;
COMP "e" LOCATE = SITE "P15" LEVEL 1;
COMP "f" LOCATE = SITE "T11" LEVEL 1;
COMP "g" LOCATE = SITE "L18" LEVEL 1;
COMP "reset" LOCATE = SITE "M18" LEVEL 1;
COMP "Anodes<2>" LOCATE = SITE "T9" LEVEL 1;
COMP "Anodes<1>" LOCATE = SITE "J18" LEVEL 1;
COMP "Anodes<4>" LOCATE = SITE "P14" LEVEL 1;
COMP "Anodes<3>" LOCATE = SITE "J14" LEVEL 1;
COMP "Anodes<0>" LOCATE = SITE "J17" LEVEL 1;
COMP "Anodes<6>" LOCATE = SITE "K2" LEVEL 1;
COMP "Anodes<5>" LOCATE = SITE "T14" LEVEL 1;
COMP "Anodes<7>" LOCATE = SITE "U13" LEVEL 1;
COMP "step" LOCATE = SITE "P18" LEVEL 1;
COMP "sw<10>" LOCATE = SITE "R16" LEVEL 1;
COMP "sw<11>" LOCATE = SITE "T13" LEVEL 1;
COMP "sw<12>" LOCATE = SITE "H6" LEVEL 1;
COMP "sw<13>" LOCATE = SITE "U12" LEVEL 1;
COMP "sw<14>" LOCATE = SITE "U11" LEVEL 1;
COMP "sw<15>" LOCATE = SITE "V10" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "J15" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "R15" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "R17" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "U18" LEVEL 1;
COMP "sw<8>" LOCATE = SITE "T8" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "oneshot/q9" BEL "oneshot/q8" BEL "oneshot/q7" BEL
        "oneshot/q6" BEL "oneshot/q5" BEL "oneshot/q4" BEL "oneshot/q3" BEL
        "oneshot/q2" BEL "oneshot/q1" BEL "oneshot/q0" BEL
        "disp_cont/pix_clk/i_16" BEL "disp_cont/pix_clk/i_15" BEL
        "disp_cont/pix_clk/i_14" BEL "disp_cont/pix_clk/i_13" BEL
        "disp_cont/pix_clk/i_12" BEL "disp_cont/pix_clk/i_11" BEL
        "disp_cont/pix_clk/i_10" BEL "disp_cont/pix_clk/i_9" BEL
        "disp_cont/pix_clk/i_8" BEL "disp_cont/pix_clk/i_7" BEL
        "disp_cont/pix_clk/i_6" BEL "disp_cont/pix_clk/i_5" BEL
        "disp_cont/pix_clk/i_4" BEL "disp_cont/pix_clk/i_3" BEL
        "disp_cont/pix_clk/i_2" BEL "disp_cont/pix_clk/i_1" BEL
        "disp_cont/pix_clk/i_0" BEL "disp_cont/pix_clk/clk_out" BEL
        "clk_BUFGP/BUFG";
SCHEMATIC END;

